/** Fonts **/

    @font-face {
        font-family: fallingSky;
        src: url('../meta/fonts/fallingskycond.otf');
    }

/** Fonts **/

/** Main parts **/

    html {
        background-color: #0f0f0f;
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;

        overflow-y: scroll;
        
    }
    body {

        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }



/** Main parts **/

/** Scroll Bar **/


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 42, 42); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(37, 37, 37); 
  }
/** Scroll Bar **/

/** Head **/

    #title{
            
        text-align: center;
        font-family: fallingSky;
        margin-bottom: 200px;
        font-weight: 500;
        font-size: 90px;
        color: white;


    }

    #subtitle{

        text-align: center;
        color: #e6e6e6;
        margin-top: -80px;
        font-family: fallingSky;
        font-weight: 100;
        font-size: 40px;
        
    }

    #red-letter{

        color:#eb3434;
        font-size: 55px;
        font-weight: 700;

    }

    #red-letter:hover{
        color: #a01c1c;
        transition: ease-in-out 1s;
        cursor: pointer;
        
    }

/** Head **/
